ADMIN_PHONE=09068612038

PAYSTACK_SECRET_KEY=sk_test_xxxxxxxxxxxxxxxxxxxx
PAYSTACK_PUBLIC_KEY=pk_test_xxxxxxxxxxxxxxxxxxxx

VTPASS_BASE_URL=https://sandbox.vtpass.com/api
VTPASS_EMAIL=your-vtpass-email@example.com
VTPASS_PASSWORD=your-vtpass-password
VTPASS_PUBLIC_KEY=your-vtpass-public-key
VTPASS_SECRET_KEY=your-vtpass-secret-key

TERMII_API_KEY=your-termii-api-key
TERMII_SENDER_ID=TopUpNG

NEXT_PUBLIC_BASE_URL=http://localhost:3000
